#intro {
    width: 120%;
    height: 90%;
    opacity: 60%;
}
.oms {
  position: absolute;
  margin-bottom: 10;
  margin-left: 10;
  bottom: 8px;
  left: 16px;
  color:aquamarine;

}

input  {
    margin-left: 25px;
    color:black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    background-color: whitesmoke;
    border-color: azure;
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125px;
    color :blue;
    text-shadow: 5px 5px lightskyblue;
    margin-left: 25px;
    margin-bottom: -20px;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color :blue;
    margin-left: 25px;
    margin-bottom: -80px;
}

p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45;
  color: blue;
  margin-left: 25px;

}

#profile {
  height: 100px;
  width: 100px;
  margin-left: 25px;
  border: 10px solid white;
  border-radius: 60px;
  position: relative;
  top: -30px;
}

nav.navbar{
  width: auto;
  height: 50px;
  display: flex;
}

.nav-links {
  width: 100vw;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-template-columns: repeat(3,1fr);
  display: grid;
  width: 100vw;
  margin: 45px 0 25px 0;
  padding: 0 0 0 40px;
}

.infos.infos {
  margin-top: 20%;
}

.parallax{
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
